html {
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
}

a {
    text-decoration: none;
    color: yellow;
}
body {
    background: silver;
}
h1 {
    max-width: 600px;
    display: flex;
    justify-content: center;
}
.img {
    max-width: 600px;
    display: flex;
    justify-content: center;
}